.homePage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.homePage .div {
  background-color: #ffffff;
  border: 1px none;
  height: 550px;
  overflow: hidden;
  position: relative;
  width: 1377px;
}
.homePage .overlap {
  height: 509px;
  left: 345px;
  position: absolute;
  top: -134px;
  width: 900px;
}
.homePage .group {
  height: 400px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 693px;
}
.homePage .ellipse {
  height: 674px;
  left: 721px;
  position: absolute;
  top: 207px;
  width: 302px;
}
.homePage .group-3 {
  height: 362px;
  left: 45px;
  position: absolute;
  top: 180px;
  width: 815px;
}
.homePage.title-bank {
  height: 134px;
  left: 42px;
  position: absolute;
  top: 0;
  width: 580px;
}
.homePage .text-wrapper {
  color: #274d74;
  font-family: "Lexend", Helvetica;
  font-size: 53.4px;
  font-weight: 700;
  height: 134px;
  left: 42px;
  letter-spacing: 0.27px;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 618px;
}
.homePage .description {
  height: 62px;
  left: 47px;
  position: absolute;
  top: 180px;
  width: 580px;
}
.homePage .p {
  color: #6c6e6f;
  font-family: "Lexend", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 66px;
  left: 0;
  letter-spacing: -0.42px;
  line-height: 41.2px;
  position: absolute;
  top: -30px;
  width: 580px;
}
.homePage .validate {
  height: 109px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 470px;
}
.homePage .upload {
  height: 60px;
  left: 93px;
  position: absolute;
  top: 40px;
  width: 145px;
}
.homePage .overlap-group {
  background-color: #0f65b2;
  border-radius: 47.38px;
  height: 60px;
  position: relative;
  width: 143px;
}
.homePage .overlap-group:hover {
  background-color: #0c4b87; /* Change the background color on hover */
  cursor: pointer; /* Add cursor pointer on hover */
}
.homePage .text-wrapper-2 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 17.2px;
  font-weight: 400;
  height: 22px;
  left: 45px;
  letter-spacing: -0.26px;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 59px;
}
.homePage .check {
  height: 60px;
  left: 327px;
  position: absolute;
  top: 40px;
  width: 145px;
}

.homePage .status-message {
  position: absolute;
  top: 320px;
  left: 200px;
  font-family: "Lexend", Helvetica;
  font-size: 17.2px;
  font-weight: 400;
  height: 22px;
  letter-spacing: -0.26px;
  line-height: normal;
  position: absolute;
}
.homePage .iconphone {
  height: 294px;
  left: 530px;
  position: absolute;
  top: 365px;
  width: 352px;
}
.homePage .ellipse-4 {
  background-color: #2384e9;
  border-radius: 105px;
  height: 210px;
  left: 545px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 210px;
}
.homePage .overlap-group2 {
  height: 400px;
  left: 18px;
  position: absolute;
  top: 40px;
  width: 333px;
}
.homePage .icon-bank {
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 333px;
}
.homePage .img {
  height: 100px;
  left: 122px;
  position: absolute;
  top: 360px;
  width: 70px;
}
.homePage .ellipse-1 {
  background-color: #2384e9;
  border-radius: 105px;
  height: 200px;
  left: -96px;
  opacity: 0.2;
  position: absolute;
  top: 330px;
  width: 210px;
}
