/* TransTable.css */

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  right: 10px;
  margin-top: 80px;
}

.filters input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
