@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
}
/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.vBase {
  /* z-index: -1; */
  background-image: url("./Assets/back.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  overflow: auto;
  max-height: 330px; /* Adjust the maximum height of the table content */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #516d8c #f3f3f3; /* For Firefox */
  max-width: 100%;
  margin-left: 80px;
  margin-right: 80px;
}
.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #516d8c;
  border-radius: 4px;
}
.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.styled-table thead {
  background-color: #426995;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #426995;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #468ad7;
}
.styled-table tbody tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}
.styled-table th button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  color: #fff;
}

.styled-table th button:focus {
  color: #000;
}

.styled-table th button svg {
  margin-left: 4px;
  font-size: 18px;
}

.styled-table th button.asc svg {
  transform: rotate(180deg);
}
.downloadBtn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-top: 25px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.downloadBtn:hover,
.downloadBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.downloadBtn:hover {
  transform: translateY(-1px);
}

.downloadBtn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/* Search Bar Styles */
.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 5px;
}

.search-icon {
  margin: 0 8px;
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  background-color: #f5f5f5;
}

.search-container input::placeholder {
  color: #888;
}

.search-container input:focus::placeholder {
  color: transparent;
}
